div{
    background-color: cadetblue ;
}

h1{
    color: aqua;
}
#colo{
    color: blue;
}
#solo{
    color: pink;
}
#polo{
    color: red;
}
#kolo{
    color: brown;
}
#lolo{
    color: chocolate;
}
#sal{
    color: aqua;
}
#salm{
    color:bisque;
}
#salma{
    color:brown;
}
#salman{
    color: burlywood;
}
#salmann{
    color: blueviolet;
}
#ma{
    color: red;
}
#maa{
    color: aqua;
}
#maaa{
    color: brown;
}
#maaaa{
        color: blue;
}